<div class="banner-home">
	
	<div class="search-home">
		<h2>Search  Hotels</h2>
		<form action="/hotelsearch/result" method="post" accept-charset="utf-8">
			<div>
				<p>Where</p>
				<p><input type="text" name="city" id="" value="Seattle" /></p>
				<p><input type="text" name="province" id="" value="WA" /></p>
				<p><input type="text" name="countrycode" id="" value="US" /></p>
			</div>
			<div>
				<p>When</p>
				<p>
					<input type="text" name="arrivalDate" id="arrivalDate" value="" />
					<input type="text" name="departureDate" id="departureDate" value="" />
				</p>
			</div>
			<div>
				<p>rooms</p>
				<p>
					<select name="" id="">
					  <option value="">1</option>
					  <option value="">2</option>
					</select>
				</p>
				<p>adults</p>
				<p>
					<select name="" id="">
					  <option value="">1<option>
					  <option value="">2</option>
					</select>
				</p>
				<p>children</p>
				<p>
					<select name="" id="">
					  <option value="">0<option>
					  <option value="">1</option>
					</select>
				</p>
			</div>
			<div>
				<input type="submit" name="" id="" value="Search" />
			</div>
		</form>
	</div>
	
	<div class="aboutus-home">
		<h2>Why Choose Us?</h2>
		<ul>
			<li>
				<h3>Low Rates</h3>
				<p>No booking fees! Save money!</p>
			</li>
			<li>
				<h3>140,248 hotels worldwide</h3>
				<p>30,000+ destinations</p>
			</li>
			<li>
				<h3>We speak your language</h3>
				<p>Website and customer service in English (US) and <br />40 other languages</p>
			</li>
		</ul>
	</div>
	
</div>
<script>
      $(function() {
        $( "#arrivalDate" ).datepicker();
        $( "#departureDate" ).datepicker();
      });
    </script>
