Hotel Search
<form action="/hotelsearch/result" method="post" accept-charset="utf-8">
<p>Where:<input type="text" name="" id="" value="" /></p>
<p>When:<input type="text" name="" id="" value="" />
<input type="text" name="" id="" value="" /></p>
<p><select name="" id="">
  <option value="">1 room</option>
  <option value="">2 rooms</option>
</select></p>
<p><select name="" id="">
  <option value="">1 guest</option>
  <option value="">2 guests</option>
</select></p>

<input type="submit" name="" id="" value="Search" />

</form>
